body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input__field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.display__field {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(4, 150px);
}

.display__labels {
  display: flex;
  flex-direction: row;
  margin: 10px 20px;
}

.display__timer {
  display: flex;
  margin: 10px 20px;
}
